
a,.tp-caption a.btn:hover {
	color: #F5F5F5;    /*ปุ่ม*/
}
.top-nav-collapse {
	background: #ee7621;   /*สีแทป*/
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #CCCCCC;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #CCCCCC;
}

.widget-avatar .avatar:hover {
    border: 5px solid #CCCCCC;
}

.bg-skin {
	background: #CCCCCC;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #CCCCCC;
}

footer {
  background: rgba(222, 92, 0, 0.47);
    /*background-color: #ee7621;  สีข้างล่าง*/
}

.btn-skin {
  color: #fff;
  background-color: #8b4726;  /*สีปุ่ม*/
  border-color: #8b4726;
}
